h1 Mathematics Part III

for row in [["sym", "qft"], ["gr", "msm"]]
  .row
    for slug in row
      - var dir = public._data[slug]
      .col-md-6.col-xs-12
        .panel.panel-default
          .panel-heading: h3.panel-title
            span
              if dir.webpage
                a(href=dir.webpage)= dir.title
              else
                = dir.title
            span.label.label-default.lectures= dir.lectures
          .panel-body
            h5: a(href=dir.notes) Lecture notes
            h5 Examples
            .list-group
              for sheet, number in dir.sheets
                .list-group-item
                  h6.list-group-item-heading
                    a(href=sheet.url) Example sheet #{number}
                    if sheet.archive
                      span.label.label-default.class= sheet.class
                    else if sheet.done
                      span.label.label-success.class= sheet.class
                    else
                      span.label.label-primary.class= sheet.class
                  if sheet.note || sheet.sol
                    .list-group-item-text: .row
                      .col-md-9.col-xs-12
                        .text-muted= sheet.note
                      .col-md-3.col-xs-12
                        if sheet.sol
                          .text-right: a(href=sheet.sol) Solutions
            h5: a(href="##{slug}-notes" data-toggle="collapse") Handwritten notes and answers
            .collapse(id="#{slug}-notes")
              ul
                for file in public[slug]._contents
                  li: a(href="#{slug}/#{file}")= file

!= partial("notes")
