include _mixins
h1 Mathematics Part III

for row in [["qc", "sym", "qft"], ["gr", "msm"]]
  .row
    for slug in row
      - var dir = public._data[slug]
      .col-md-4.col-xs-12
        +panel()
          .panel-heading: h3.panel-title
            if dir.webpage
              span: a(href=dir.webpage)= dir.title
            else
              span= dir.title
            span= " "
            span.label.label-default= dir.lectures
          .panel-body
            ul.list-unstyled
              for file in public[slug]._contents
                li: a(href="/#{slug}/#{file}")= file
              li: a(href="##{slug}-notes" data-toggle="collapse") notes/
              .collapse(id="#{slug}-notes")
                ul
                  for file in public[slug].notes._contents
                    li: a(href="/#{slug}/notes/#{file}")= file
          .panel-footer
            .row: .col-xs-12
              span= dir.sheet + " "
              if dir.done
                span.label.label-success= dir.class
              else
                span.label.label-primary= dir.class
            .row: .col-xs-12.text-muted= dir.note

h2 Notes

p
  a(href="https://www.maths.cam.ac.uk/sites/www.maths.cam.ac.uk/files/pre2014/postgrad/mathiii/SA.pdf") Self-Assessment Form
  |  (
  a(href="SA.jt551.pdf") jt551
  | )
p: a(href="phd") Talk: Applying for PhDs (26 Oct 2016)
